.chatContainer {
  height: 80vh;
  .MuiGrid-root {
    height: 100%;
  }
  .chatGrid {
    height: 100%;
    &.listItems {
      overflow: auto;
    }
  }
  .usersList {
    height: 100%;
    overflow: hidden;
  }

  .conversation {
    position: relative;
    height: 100%;

    .conversationHeader {
      height: 8%;
      border:1px solid $primary;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 10px;
    }
    .conversationBody {
      height: 84%;
      overflow: auto;
      padding-top: 10px;
      .message {
        display: flex;
        justify-content: flex-start;
        &.left {
          
        }
        &.right {
          flex-direction: row-reverse;
        }
      }
    }
    .conversationFooter {
      height: 8%;
      border-top: 1px solid $primary;
      button {
        height: 100%;
      }
    }
  }
  .chatInput {
    .MuiInput-underline {
      &:after {
        border:1px solid $primary;
      }
    }
  }

}