.chatContainer {
  height: 80vh;
  .MuiGrid-root {
    height: 100%;
  }
  .chatGrid {
    height: 100%;
    &.listItems {
      overflow: auto;
    }
  }
  .usersList {
    height: 100%;
    overflow: hidden;
  }

  .chatInterface {
    position: relative;

  }
}