.MuiFormControl-root {
  width: 100%;
}

.FloatRight{
  float: right;
}

.MuiAvatar-colorDefault.avatar {
  border: 2px solid $primary;
  background-color: transparent;
  color: #fff;
  font-weight: 600;
}