
.footer {
  position: absolute !important;
  bottom: 0 !important;
  height: 60px;
  display: block;
  text-align: center;
  border-top: 1px solid $primary;
  width: 100%;
  //margin-left: -10px; //to undo the container padding
  padding-top: 30px;
}
#root{
  position: relative;
  min-height: 100vh;
  padding-bottom: 40px;

}
