@import "variables";
@import "components";
@import "elements";
@import "reusableComponents";
@import "chat/chat";
// Footer

$header_height: 74px; //64px + 10px
$drawer_width_open:250px; //240px + 10px
$drawer_width_close:70px; //60px + 10px

.footer {
  position: absolute !important;
  bottom: 0 !important;
  height: 60px;
  display: block;
  text-align: center;
  border-top: 1px solid $primary;
  width: 100%;
  padding-top: 22px;
}

#root {
  position: relative;
  min-height: 100vh;

  .header {
    padding-top: $header_height;
    padding-right: 10px;
    min-height: 100vh;
    flex-grow: 1;
    &.drawer-open {
      padding-left: $drawer_width_open;
      transition: padding-left 225ms;
    }
    &.drawer-close {
      padding-left: $drawer_width_close;
      transition: padding-left 225ms;
    }
  }
}

section {
  &.content {
    position: relative;
    min-height: 100%;

    h1 {
      text-align: left;
      font-size: 25px;
      color: $primary;
      margin-top: 0;
    }
  }
}


.tables{
  button {
    variant:"contained";
    background-color: $secondary;
    width: 250px;
    height: 125px;
    margin-top: 20px;
    border: 1px solid $primary;
  }
  span {
      color: $primary;
      font-size: 40px;

  }
}




.products-header{
  border-bottom: 1px solid $primary;
  color: $primary;
  display: flex;
  justify-content: center;

   h1{
     margin: 0px;
     padding: 10px;
   }
}

.products-button{
  padding: 10px;
  height: 80px;

  Button{
    width: 100%;
  }
}

.menu-card{
  padding: 10px;
  height: 100px;

  .MuiCardActionArea-root{
    border: 1px solid $primary;
  }
  .image{
    text-align: center;
  }
  .MuiTypography-body1{
    color: $primary;
  }

}
.product-groups-container{
  height: 40%;
  padding-bottom: 15px;
  padding-top: 20px;
}
.table-order-container{
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.products-paper{
  height: 100%;
  overflow: auto;
  position: relative;
   .MuiFormControl-root{
     width: 30%;
     margin: 10px;
  }
  .MuiGrid-item{
    white-space: nowrap;
  }
}
.products-container{
  height: 60%;
  padding-bottom: 20px;
}
.products-scrollable-paper{
  height: 100%;
  overflow: auto;
  .MuiFormControl-root{
    margin:10px;
    width: 30%;
  }
}

.pos-grid{
  height: 95%;
}

.pos-container{
  height:80vh;
}


.table-order-button{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;

  .MuiButton-label{
    padding: 40px;
  }
}


.order-button-container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

    button {
      width: 40%;
      margin: 5px;
    }

}
.table-container{
  margin: 15px;
}
.table-cell{
  white-space: nowrap;
}
.ellipses{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card-container{
  margin: 15px;
}