@import "variables";
@import "components";
@import "elements";
@import "reusableComponents";
// Footer

$header_height: 74px; //64px + 10px
$drawer_width_open:250px; //240px + 10px
$drawer_width_close:70px; //60px + 10px

.footer {
  position: absolute !important;
  bottom: 0 !important;
  height: 60px;
  display: block;
  text-align: center;
  border-top: 1px solid $primary;
  width: 100%;
  padding-top: 22px;
}

#root {
  position: relative;
  min-height: 100vh;

  .header {
    padding-top: $header_height;
    padding-right: 10px;
    min-height: 100vh;
    flex-grow: 1;
    &.drawer-open {
      padding-left: $drawer_width_open;
      transition: padding-left 225ms;
    }
    &.drawer-close {
      padding-left: $drawer_width_close;
      transition: padding-left 225ms;
    }
  }
}

section {
  &.content {
    position: relative;
    min-height: 100%;

    h1 {
      text-align: left;
      font-size: 25px;
      color: $primary;
      margin-top: 0;
    }
  }
}


.pos-tables{
  height: 100vh;

  .tables{
    width: 250px;
    height: 125px;
    border: 1px solid $primary;
    margin-top: 20px;
    background-color: $secondary;
    display: flex;
    align-items: center;
    justify-content: center;

    span{
      color: $primary;
      font-size: 40px;

    }
  }

}
