.loginRegister h1, .accountDetails h1 {
  text-align: center;
  font-size: 50px;
  color: #66fcf1; }

.loginRegister form .MuiButtonBase-root, .accountDetails form .MuiButtonBase-root {
  width: 100%; }

.error {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.error .head {
  margin: 0;
  width: 500px;
  height: 200px;
  background-color: #1f2833;
  border-radius: 5px 5px 0px 0px;
  border: #66fcf1 1px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.error .head h1 {
  color: #66fcf1;
  font-size: 55px;
  margin: 0; }

.error .icon-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.error .icon-wrapper p {
  color: #66fcf1;
  font-size: 20px;
  margin: 0; }

.error .icon-wrapper .MuiSvgIcon-root {
  font-size: 30px;
  color: #66fcf1;
  margin-left: 5px; }

.error .bod {
  width: 500px;
  height: 100px;
  border: #66fcf1 1px solid;
  border-width: 0px 1px 1px 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.MuiFormControl-root {
  width: 100%; }

.FloatRight {
  float: right; }

.MuiAvatar-colorDefault.avatar {
  border: 2px solid #66fcf1;
  background-color: transparent;
  color: #fff;
  font-weight: 600; }

.toolBar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 64px; }

.menuButton {
  margin-right: 36px !important; }

.menuButton.hide {
  display: none; }

.MuiAppBar-root.MuiAppBar-positionFixed.appBar {
  z-index: 1201;
  transition: width 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms; }

.MuiAppBar-root.MuiAppBar-positionFixed.appBarShift {
  margin-left: 240px;
  width: calc( 100% - 240px);
  transition: width 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms; }

.drawer {
  width: 240px;
  flex-shrink: 0;
  white-space: nowrap; }

.MuiDrawer-root .MuiPaper-root {
  width: inherit; }

.MuiDrawer-root .drawerClose .MuiPaper-root, .MuiDrawer-root.drawerOpen .MuiPaper-root {
  top: 0;
  flex: 1 0 auto;
  height: 100%;
  display: flex;
  outline: 0;
  z-index: 1200;
  position: fixed;
  overflow-y: auto;
  flex-direction: column;
  background-color: #1f2833;
  border-right: 1px solid rgba(255, 255, 255, 0.12);
  box-shadow: none;
  color: #c5c6c7;
  width: 240px;
  transition: width 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms; }

.MuiDrawer-root.drawerClose .MuiPaper-root {
  overflow-x: hidden;
  width: 60px;
  transition: width 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms; }

.chatContainer {
  height: 80vh; }

.chatContainer .MuiGrid-root {
  height: 100%; }

.chatContainer .chatGrid {
  height: 100%; }

.chatContainer .chatGrid.listItems {
  padding-bottom: 10px; }

.chatContainer .chatGrid.listItems .usersList {
  overflow: auto; }

.chatContainer .usersList {
  height: 100%;
  overflow: hidden; }

.chatContainer .usersList .MuiListItem-root {
  cursor: pointer; }

.chatContainer .usersList .MuiListItem-root:hover {
  color: #66fcf1;
  border-top: 1px solid #66fcf1;
  border-bottom: 1px solid #66fcf1; }

.chatContainer .usersList .MuiListItem-root:hover .avatar {
  border-color: #fff;
  color: #66fcf1; }

.chatContainer .conversation {
  position: relative;
  height: 100%; }

.chatContainer .conversation .conversationHeader {
  height: 8%;
  border-bottom: 2px solid #66fcf1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px; }

.chatContainer .conversation .conversationHeader > div {
  display: flex;
  align-items: center;
  width: 100%; }

.chatContainer .conversation .conversationHeader > div .email {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  margin-left: 20px; }

.chatContainer .conversation .conversationHeader .drop-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row-reverse; }

.chatContainer .conversation .conversationBody {
  height: 84%;
  overflow: auto;
  padding-top: 10px; }

.chatContainer .conversation .conversationBody .message {
  display: flex;
  justify-content: flex-start;
  margin: 10px; }

.chatContainer .conversation .conversationBody .message .msg-bubble {
  max-width: 450px;
  padding: 15px;
  border-radius: 15px;
  background: transparent;
  border: 1px solid #66fcf1; }

.chatContainer .conversation .conversationBody .message .msg-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  color: #66fcf1; }

.chatContainer .conversation .conversationBody .message .msg-info * {
  color: #66fcf1; }

.chatContainer .conversation .conversationBody .message .msg-info-name {
  margin-right: 10px;
  font-weight: bold; }

.chatContainer .conversation .conversationBody .message .msg-info-time {
  font-size: 0.85em; }

.chatContainer .conversation .conversationBody .message.left .msg-bubble {
  background: transparent;
  color: #fff;
  border-bottom-left-radius: 0; }

.chatContainer .conversation .conversationBody .message.right {
  flex-direction: row-reverse; }

.chatContainer .conversation .conversationBody .message.right .msg-bubble {
  background-color: transparent;
  border-bottom-right-radius: 0; }

.chatContainer .conversation .conversationBody .message .text {
  padding: 10px 10px;
  border: 3px solid #66fcf1;
  border-radius: 15%;
  margin: 10px; }

.chatContainer .conversation .conversationFooter {
  height: 8%;
  border-top: 1px solid #66fcf1; }

.chatContainer .conversation .conversationFooter button {
  height: 100%; }

.chatContainer .chatInput .MuiInput-underline:after {
  border: 1px solid #66fcf1; }

.footer {
  position: absolute !important;
  bottom: 0 !important;
  height: 60px;
  display: block;
  text-align: center;
  border-top: 1px solid #66fcf1;
  width: 100%;
  padding-top: 22px; }

#root {
  position: relative;
  min-height: 100vh; }

#root .header {
  padding-top: 74px;
  padding-right: 10px;
  min-height: 100vh;
  flex-grow: 1; }

#root .header.drawer-open {
  padding-left: 250px;
  transition: padding-left 225ms; }

#root .header.drawer-close {
  padding-left: 70px;
  transition: padding-left 225ms; }

section.content {
  position: relative;
  min-height: 100%; }

section.content h1 {
  text-align: left;
  font-size: 25px;
  color: #66fcf1;
  margin-top: 0; }

.tables button {
  variant: "contained";
  background-color: #1f2833;
  width: 250px;
  height: 125px;
  margin-top: 20px;
  border: 1px solid #66fcf1; }

.tables span {
  color: #66fcf1;
  font-size: 40px; }

.products-header {
  border-bottom: 1px solid #66fcf1;
  color: #66fcf1;
  display: flex;
  justify-content: center; }

.products-header h1 {
  margin: 0px;
  padding: 10px; }

.products-button {
  padding: 10px;
  height: 80px; }

.products-button Button {
  width: 100%; }

.menu-card {
  padding: 10px;
  height: 100px; }

.menu-card .MuiCardActionArea-root {
  border: 1px solid #66fcf1; }

.menu-card .image {
  text-align: center; }

.menu-card .MuiTypography-body1 {
  color: #66fcf1; }

.product-groups-container {
  height: 60%;
  padding-bottom: 15px;
  padding-top: 20px; }

.table-order-container {
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px; }

.products-paper {
  height: 100%;
  overflow: auto; }

.products-paper .MuiFormControl-root {
  width: 30%;
  margin: 10px; }

.products-container {
  height: 40%;
  padding-bottom: 20px; }

.products-scrollable-paper {
  height: 100%;
  overflow: auto; }

.products-scrollable-paper .MuiFormControl-root {
  margin: 10px;
  width: 30%; }

.pos-grid {
  height: 100%; }

.pos-container {
  height: 80vh; }

.table-order-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px; }

.table-order-button .MuiButton-label {
  padding: 40px; }

.order-container {
  display: table;
  width: 100%;
  padding-top: 10px;
  color: #66fcf1; }

.order-container span {
  display: table-cell;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }
