.loginRegister h1 {
  text-align: center;
  font-size: 50px;
  color: #66fcf1; }

.loginRegister form .MuiFormControl-root {
  width: 30%;
  margin-bottom: 20px; }

.loginRegister form .MuiButtonBase-root {
  width: 30%; }

.footer {
  position: absolute !important;
  bottom: 0 !important;
  height: 60px;
  display: block;
  text-align: center;
  border-top: 1px solid #66fcf1;
  width: 100%;
  padding-top: 22px; }

#root {
  position: relative;
  min-height: 100vh; }
  #root .header {
    padding-bottom: 64px;
    min-height: 100vh; }

section.content {
  position: relative;
  min-height: 100%; }
