.loginRegister h1 {
  text-align: center;
  font-size: 50px;
  color: #66fcf1; }

.loginRegister form .MuiFormControl-root {
  width: 50%;
  margin-bottom: 20px; }

.loginRegister form .MuiButtonBase-root {
  width: 50%; }
